.rubik {
  font-family: 'Rubik', sans-serif; }

.cart__contact-phone {
  font-size: 30px;
  color: #dd3d27;
  margin: 10px 10px 0 0;
  float: left; }
.cart__contact-text span {
  display: inline-block;
  font-size: 13px;
  line-height: 25px;
  color: #666;
  margin: 0 0 0; }
.cart__contact-text h3 {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  margin: 0 0 0; }
.cart__input {
  position: relative; }
  .cart__input input {
    width: 100%;
    outline: none;
    line-height: 33px;
    padding: 6px 12px;
    border-radius: 30px;
    border: 1px solid #e5e5e5; }
  .cart__input button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 38px;
    right: 1%;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #999;
    outline: none;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease-in-out; }
    .cart__input button:hover {
      color: #fff;
      background-color: #dd3d27; }
.cart__icon {
  display: flex;
  justify-content: flex-end; }
  .cart__icon-user {
    position: relative;
    padding: 10px;
    font-size: 26px;
    color: #999; }
    .cart__icon-user:hover .cart__icon-login {
      display: block; }
  .cart__icon-shop {
    position: relative;
    padding: 10px 10px 10px 0;
    font-size: 26px;
    color: #999;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .cart__icon-shop:hover {
      color: #dd3d27; }
      .cart__icon-shop:hover .cart__icon-list {
        display: block; }
  .cart__icon-button {
    margin-left: 15px; }
    .cart__icon-button button {
      cursor: pointer;
      font-size: 20px;
      background-color: transparent;
      outline: none;
      border: none;
      color: #dd3d27;
      transition: all 0.3s ease-in-out; }
      .cart__icon-button button:hover {
        color: #999; }
  .cart__icon-login {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 25px 15px 15px;
    margin-top: 2px;
    width: 270px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
    .cart__icon-login-text h3 {
      font-size: 22px;
      line-height: 26.39px;
      color: #030303;
      margin: 0 0 10px;
      font-weight: 600; }
    .cart__icon-login form input {
      margin: 8px 0;
      padding: 1px 10px;
      height: 45px;
      line-height: 45px;
      outline: none;
      border: 1px solid #d8d8d8;
      border-radius: 3px;
      width: 100%; }
    .cart__icon-login button {
      margin: 30px 0;
      cursor: pointer;
      width: 100%;
      background-color: #dd3d27;
      outline: none;
      border: none;
      border-radius: 3px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      font-weight: 500;
      font-size: 16px; }
  .cart__icon-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 23px 20px;
    margin-top: 2px;
    width: 300px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 5px; }
    .cart__icon-list-text h3 {
      font-size: 14px;
      line-height: 14px;
      color: #666;
      margin: 0 0 0;
      padding: 12px 20px;
      font-weight: 400; }
    .cart__icon-list-title {
      display: flex;
      align-items: center;
      border-top: 1px solid #e9e9e9;
      padding-top: 15px;
      margin-top: 20px; }
      .cart__icon-list-title span:first-child {
        width: 50%;
        font-size: 16px;
        line-height: 19px;
        color: #000;
        margin: 0 0 0; }
      .cart__icon-list-title span:last-child {
        width: 50%;
        text-align: right;
        display: block;
        margin-left: auto;
        font-size: 16px;
        line-height: 19px;
        color: #dd3d27;
        margin: 0 0 0; }
    .cart__icon-list-truck {
      margin: 15px 0;
      padding-left: 10px;
      line-height: 30px;
      height: 30px;
      background-color: #000; }
      .cart__icon-list-truck .fa-truck {
        color: #fff;
        font-size: 20px;
        margin-right: 10px; }
      .cart__icon-list-truck span {
        vertical-align: middle;
        font-size: 12px;
        line-height: auto;
        color: #fff;
        margin: 0 0 0; }
    .cart__icon-list p {
      font-size: 13px;
      line-height: 11px;
      color: #999;
      margin: 10px 0 10px; }
    .cart__icon-list-link {
      margin-top: 24px; }
      .cart__icon-list-link a:first-child {
        display: block;
        text-decoration: none;
        padding: 6px 12px;
        border: 1px solid #dd3d27;
        background-color: #dd3d27;
        pointer-events: none;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        margin: 0 0 5px; }
      .cart__icon-list-link a:last-child {
        display: inline-block;
        text-decoration: none;
        padding: 4px 8px;
        border: 1px solid transparent;
        font-size: 14px;
        line-height: 21px;
        color: #dd3d27;
        margin: 0 0 0; }

.showoverlay::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 15px; }

.showoverlay::-webkit-scrollbar-thumb {
  border: 3px solid #f5f5f5;
  border-radius: 12px;
  background-color: #b7b7b7; }

.showoverlay::-webkit-scrollbar-thumb:hover {
  background-color: #a2a3a3; }

@keyframes overlay-active {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes overlay-response {
  0% {
    opacity: 1;
    z-index: 100; }
  99.9% {
    z-index: 100; }
  100% {
    opacity: 0;
    z-index: -99; } }
@keyframes overlay-go {
  from {
    transform: translateX(320px); }
  to {
    transform: translateX(0); } }
@keyframes overlay-go-response {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(320px); } }
.overlay-go-response {
  animation: 0.5s forwards overlay-go-response; }

.overlay-go {
  animation: 0.5s 0.5s forwards overlay-go; }

.overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -99;
  background-color: rgba(0, 0, 0, 0.4); }
  .overlay .overlay-img-1 {
    background-image: url("../image/image-collection/img-1.jpg"); }
  .overlay .overlay-img-2 {
    background-image: url("../image/image-collection/img-2.jpg"); }
  .overlay .overlay-img-3 {
    background-image: url("../image/image-collection/img-3.jpg"); }
  .overlay .overlay-img-4 {
    background-image: url("../image/image-collection/img-4.jpg"); }
  .overlay .overlay-img-5 {
    background-image: url("../image/image-collection/img-5.jpg"); }
  .overlay .overlay-img-6 {
    background-image: url("../image/image-collection/img-6.jpg"); }
  .overlay .overlay-img-7 {
    background-image: url("../image/image-collection/img-7.jpg"); }
  .overlay .overlay-img-8 {
    background-image: url("../image/image-collection/img-8.jpg"); }
  .overlay .overlay-img-9 {
    background-image: url("../image/image-collection/img-9.jpg"); }
  .overlay .overlay-img-10 {
    background-image: url("../image/image-collection/img-10.jpg"); }
  .overlay .overlay-img-11 {
    background-image: url("../image/image-collection/img-11.jpg"); }
  .overlay .overlay-img-12 {
    background-image: url("../image/image-collection/img-12.jpg"); }
  .overlay .showoverlay {
    position: absolute;
    background-color: #fff;
    overflow: auto;
    right: 0;
    transform: translateX(320px);
    height: 100%;
    min-width: 320px;
    padding: 48px 20px; }
    .overlay .showoverlay__body-list {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .overlay .showoverlay__body-list li {
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        margin-bottom: 10px; }
        .overlay .showoverlay__body-list li a {
          position: relative;
          display: block;
          text-decoration: none;
          padding: 35px 40px;
          height: 90px; }
          .overlay .showoverlay__body-list li a::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 5px;
            background-color: #000;
            opacity: 0.5;
            transition: all 0.3s; }
          .overlay .showoverlay__body-list li a:hover::before {
            opacity: 0.3; }
    .overlay .showoverlay-x {
      position: absolute;
      top: 10px;
      right: 20px; }
      .overlay .showoverlay-x button {
        cursor: pointer;
        background-color: transparent;
        font-size: 18px;
        color: #6C757D;
        border: none;
        outline: none; }

.overlay-active {
  z-index: 100;
  animation: 0.5s forwards overlay-active; }

.overlay-response {
  animation: 0.5s forwards overlay-response; }

.menu {
  border: 1px solid #e5e5e5; }
  .menu__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .menu__nav-list-item {
      display: inline-block; }
      .menu__nav-list-item:not(.menu__nav-list-item-not-border) {
        border-right: 1px solid #eaeaea; }
      .menu__nav-list-item-active {
        position: relative;
        font-size: 16px;
        line-height: 19px;
        color: #dd3d27;
        margin: 0 0 0; }
        .menu__nav-list-item-active::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          bottom: -5px;
          background-color: #dd3d27; }
      .menu__nav-list-item-effect {
        position: relative;
        font-size: 16px;
        line-height: 19px;
        color: #000;
        margin: 0 0 0;
        transition: all 0.3s; }
        .menu__nav-list-item-effect::before {
          content: "";
          position: absolute;
          right: 0;
          width: 0;
          bottom: -5px;
          height: 1px;
          background-color: #dd3d27;
          transition: all 0.3s; }
      .menu__nav-list-item-price {
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline-block;
        border-radius: 10px;
        padding: 0 5px;
        font-size: 12px;
        line-height: 13px;
        color: #fff;
        margin: 0 0 0; }
        .menu__nav-list-item-price-blue {
          background-color: #4D80E4; }
        .menu__nav-list-item-price-red {
          background-color: #EB4D55; }
      .menu__nav-list-item-arrow::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        border-bottom: 5px solid transparent;
        transition: all 0.3s; }
      .menu__nav-list-item-arrow:hover::before {
        border-top-color: #dd3d27; }
      .menu__nav-list-item a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 22px 15px; }
        .menu__nav-list-item a span {
          display: inline-block; }
        .menu__nav-list-item a:hover .menu__nav-list-item-effect {
          color: #dd3d27; }
          .menu__nav-list-item a:hover .menu__nav-list-item-effect::before {
            left: 0;
            width: 100%; }

/*# sourceMappingURL=collection.css.map */
